.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(232, 232, 232);
  width: 500px;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.2);
}
