.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 1px solid black;
  gap: 5px;
  padding: 10px;
}

.info {
  width: 300px;
  display: flex;
  flex-direction: column;
}
